/* You can add global styles to this file, and also import other style files */
.separator-horizontal
{
    position: relative;
    display: block;
    height: 2px;
    width: 100%;
    background-color: lightgray;
    margin-top: 50px;
    margin-bottom: 40px;
}