.challenges-list {
    .success {
        color: green;
    }

    .failure {
        color: red;
    }
    
    ion-item:hover{
        cursor: pointer;
        background-color: rgb(250,250,250);
    }
    
    ion-list-header {
        margin-top: 20px;
    }
}