<ion-header>
    <ion-navbar>
      <ion-title>Journal</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-item-group>
          <ion-item-divider color="light">Aujourd'hui</ion-item-divider>
          <ion-item text-wrap *ngFor="let record of today"><b>{{record.date | date: 'HH:mm dd/MM'}}</b> {{record.desc}}</ion-item>
    </ion-item-group>
    <ion-item-group>
          <ion-item-divider color="light">La semaine dernière</ion-item-divider>
          <ion-item text-wrap *ngFor="let record of lastWeek"><b>{{record.date}}</b> {{record.desc}}</ion-item>
    </ion-item-group>
    <ion-item-group>
          <ion-item-divider color="light">Depuis le début</ion-item-divider>
          <ion-item text-wrap *ngFor="let record of sinceStart"><b>{{record.date}}</b> {{record.desc}}</ion-item>
    </ion-item-group>
</ion-content>